/* General Styling */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #0D0B1E; 
  color: #FDFDFD;
  background-image: url('{{ '/assets/images/matrix-rain.png' | relative_url }}');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header, footer {
  background-color: #111427; 
  color: #FDFDFD;
  padding: 10px 0;
}

.logo a, nav a {
  font-weight: 700;
  color: #FDFDFD;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a:hover {
  background-color: #3C97E2; 
  border-radius: 5px;
}

main {
  padding: 20px;
  min-height: 80vh;
}

/* Home Page Styling */
.home-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1, h2 {
  color: #3C97E2;
}

a {
  color: #3C97E2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.centered-text {
  text-align: center;
}

/* Blog and Project List Styling */
.blog-list, .project-list {
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  max-width: 500px;
}

.blog-list li, .project-list li {
  margin-bottom: 15px;
  text-align: left;
}

.post-date {
  font-size: 14px;
  color: #888;
  margin-left: 10px;
}

/* Typewriter and Glitch Effects */
#typewriter {
  font-size: 18px;
  margin-top: 20px;
  min-height: 50px;
}

.glitch {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff, 0.025em 0.04em 0 #fffc00;
  animation: glitch 725ms infinite;
}

@keyframes glitch {
  0%, 15%, 50%, 100% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff, 0.025em 0.04em 0 #fffc00;
  }
  16%, 49% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff, -0.05em -0.05em 0 #fffc00;
  }
  99% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff, 0 -0.04em 0 #fffc00;
  }
}

